body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    background-image: url(gaming.jpg);
    background-size: cover;
    
}
.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

.input-group {
    margin-bottom: 1em;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
}

.input-group input {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ff4757;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e84118;
}

.error-message {
    color: #ff6b81;
    margin-top: 1em;
}